/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* lato-italic - latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'),
    url('../fonts/lato-v16-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/lato-v16-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700italic - latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
    url('../fonts/lato-v16-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/lato-v16-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
    url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    line-height: 1.2;
    font-weight: normal;
    color: #090E0C;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.wrapper-full {
    max-width: 1262px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding-bottom: 30px;
    background: rgba(21, 24, 36, 0.4);
    transition: .2s linear;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-wrapper {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 56px;
}

.header__active {
    background: #0E1D28;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 82px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
    opacity: 0.75;
}

.header__burger {
    width: 40px;
    height: 28px;
    position: relative;
    display: none;
}

.burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
}

.burger__line_first {
    top: 0;
}

.burger__line_second {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line_third {
    bottom: 0;
}

/*header end*/

.intro {
    min-height: 100vh;
    background-image: url("../img/Image-min.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 263px;
}

.intro::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(53, 66, 103, 0.0001) 0%, #151824 95.04%);
}

.intro_title {
    position: relative;
    z-index: 5;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    max-width: 619px;
    margin-bottom: 22px;
}

.intro_subtitle {
    position: relative;
    z-index: 5;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    max-width: 546px;
    margin-bottom: 61px;
}

.search-form_info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.search__form_field {
    z-index: 5;
    width: 297px;
    background-color: transparent;
    background-image: url("../img/Oval.svg");
    background-repeat: no-repeat;
    border: none;
    background-size: 20px;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 24px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.search__form_field::placeholder {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.search-form_submit {
    z-index: 5;
    background: #1B7DFF;
    border: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding: 15px 40px;
}

.search-form_submit:hover, .search-form_submit:focus, .search-form_submit:active {
    background-color: #083775;
}

/*benefits*/
.benefits {
    margin-bottom: 131px;

}

.benefits_wrap {
    max-width: 1262px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;

}

.benefits_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 55px;
    padding: 0 100px;
}

.benefits-title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    padding: 92px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: white;
}

.benefits_card {
    grid-column: span 1;


}

.benefits_card-pic {
    margin-bottom: 37px;
}

.benefits_card-title {
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.benefits_card-desc {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 39px;
}

.benefits_card-more {
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    margin-bottom: 112px;
    text-decoration: none;
    display: inline-block;
    padding-right: 59px;
    background-image: url("../img/Shape.png");
    background-repeat: no-repeat;
    background-position: 95%;
    transition: 0.2s;
}

.benefits_card-more:hover, .benefits_card-more:focus {
    color: #3d6396;
    background-position: right;
}

/*benefits end*/
.section-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    position: relative;
    padding-bottom: 10px;
}

.section-title::after {
    display: block;
    content: "";
    position: absolute;
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    bottom: 0;
    left: 0;

}

/* places start*/
.places {
    margin-top: 131px;
    margin-bottom: 150px;
}

.places_title {
    margin-bottom: 36px;
    margin-right: 15px;
}

.places_caption {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

.places_view-all {
    padding-right: 60px;
    background-image: url("../img/Shape.png");
    background-repeat: no-repeat;
    background-position: 95%;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #006DFE;
    transition: 0.2s;
}

.places_view-all:hover, .places_view-all:focus {
    color: #3d6396;
    background-position: right;
    opacity: 0.55;
}

.places__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    overflow: hidden;
}

.places__card_size_lg {
    grid-column: span 3;
}

.places__card {
    position: relative;
    overflow: hidden;
}

.places__card:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    overflow: hidden;
}

.places__card-pic {
    width: 100%;
    transition: .15s all;
}

.places__card_size_sm {
    grid-column: span 2;
}

.places__card_pic_size_lg {
    object-fit: cover;
    height: 354px;
}

.places__card_pic_size_sm {
    object-fit: cover;
    height: 283px;
}

.places_cadr-title {
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 5;
}

.places__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

/*places end*/

/*Tours start*/
.tours {
    margin-bottom: 139px;
}

.tours__tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 108px;
    align-items: center;
    margin-bottom: 77px;
}

.tour__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #102746;
    margin-bottom: 85px;
}

.tour__info {
    padding-left: 47px;
}

.tour__desc {
    margin-bottom: 58px;
    max-width: 519px;
    font-size: 16px;
    line-height: 24px;
    color: #102746;
}

.tour__thumb {
    width: 100%;
}

.tour__more {
    font-size: 16px;
    text-align: right;
    padding-right: 59px;
    color: #006DFE;
    background-image: url("../img/Shape.png");
    background-repeat: no-repeat;
    background-position: 95%;
    text-decoration: none;
    transition: 0.2s;
}

.tour__more:hover {
    background-position: 100%;
    transition: 0.2s;
}

/*Tours end*/


/*top start*/
.top {
    margin-bottom: 86px;
    width: 100%;
}

.top__title {
    margin-bottom: 54px;
}

.top__cards {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 57px;
    row-gap: 57px;
}

.top__card-pic {
    position: relative;
    margin-bottom: 45px;
}

.top__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 auto 0 0;
    z-index: 4;
}

.top__card-title:hover {
    cursor: pointer;
    color: #E8594E;
}

.top__card-start {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    padding: 16px 25px;
    justify-content: flex-end;
}

.top__card-thumb {
    width: 100%;
}

.top__card {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
}

.top__card-likes {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 20px;
    background-image: url("../img/comm.svg");
    background-position: right;
    background-repeat: no-repeat;
    margin-right: 14px;
}

.top__card-comments {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 23px;
    background-image: url("../img/like.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.top__card-desc {
    font-size: 16px;
    line-height: 24px;
    color: #102746;
    margin-bottom: 31px;
}

.top__card-submit {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #006DFE;
    padding: 19px 12px;
    border: none;
    border-radius: 5px;
    width: 118px;
    margin: auto 0 0 0;
}

.top__card-submit:hover, .top__card-submit:focus, .top__card-submit:active {
    color: #c3baba;
    background-color: #2e4e75;
}

/*top end*/

/*video start*/
.videos_wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.videos {
    width: 100%;
}

.video_item {
    padding-top: 56.25%;
}

.video_element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* video end*/
/*footer start*/
.footer {
    background: #0E1D28;
    padding: 115px 0;
}

.footer_item {
    display: flex;
    flex-wrap: wrap;
}

.footer_logo {
    width: 50%;
}

.footer_nav {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_menu-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ff6565;
}

.footer_menu-link {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    transition: .2s;
}

.footer_menu-link:hover {
    color: #007aff;
    border-bottom: 1px solid white;
    transition: .2s;
}

/*footer end*/


/*media*/
@media screen and (max-width: 960px) {
    .search__form_field {
        margin-bottom: 25px;
    }

    .benefits_cards {
        padding: 0 15px;
        grid-column-gap: 35px;
    }

    .benefits_card-pic {
        margin-bottom: 20px;
    }

    .benefits_card-title {
        margin-bottom: 12px;
    }

    .benefits_card-desc {
        margin-bottom: 20PX;
    }

    .benefits-title {
        padding: 55px 15px;
    }

    .benefits-title {
        position: relative;
    }

    .benefits_wrap {
        box-shadow: none;
    }

    .benefits {
        margin-bottom: 75px;
    }

    .benefits_card-more {
        margin-bottom: 35px;
    }

    .places__card_size_lg {
        grid-column: span 6;
    }

    .places__card_size_sm {
        grid-column: span 6;
    }

    .tours__tour {
        grid-column-gap: 35px;
        margin: 60px 10px 0 10px;

    }

    .tour__info {
        padding-left: 0;
    }

    .tour__title {
        margin-bottom: 15px;
    }

    .tour__desc {
        margin-bottom: 15px;
    }

    .tour__more {
        margin-bottom: 40px;
    }

    .top__cards {
        column-gap: 25px;
        row-gap: 55px;
        margin: 0 10px;
    }

    .top__card {
        grid-column: span 3;
    }

    .top__card-pic {
        margin-bottom: 25px;
    }

    .footer {
        padding: 60px 0;
    }
}

@media screen and (max-width: 767px) {
    .section-title {
        margin-bottom: 25px;
    }

    .section-title::after {
        width: 80px;
    }

    .header__burger {
        display: block;
    }

    .header-wrapper {
        padding-top: 28px;
    }

    .header__nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-image: url("../img/image-min.png");
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }

    .header__nav_active {
        transform: translateX(0);
        transition: .2s all linear;
    }

    .header__item {
        width: 100%;
        margin-right: 0;
    }

    .header__item:last-child {
        margin-bottom: 0;
    }

    .header__link {
        font-size: 43px;
        line-height: 48px;
        margin-bottom: 35px;
    }

    .header__nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }

    .header__nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        top: 50%;
    }

    .header__nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header__nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }

    .search-form_submit {
        margin-bottom: 45px;
        width: 100%;
        padding: 3px 40px;
        font-size: 18px;
    }

    .search__form_field {
        margin-right: 0;
        width: 100%;
        padding-bottom: 12px;
        background-position: left top 2px;
    }

    .search__form_field::placeholder {
        font-size: 16px;
    }

    .benefits_card {
        grid-column: span 3;
    }

    .benefits-title {
        transform: translateY(0);

    }

    .intro {
        padding-top: 125px;
    }

    .intro_title {
        font-size: 30px;
        line-height: 48px;
    }

    .intro_subtitle {
        font-size: 14px;
    }

    .intro::after {
        bottom: -136px;
    }

    .places {
        margin-top: 45px;
        margin-bottom: 75PX;
    }

    .places__cards {
        margin: 0 10px;
    }

    .places__card_size_lg, .places__card_size_sm {
        height: 230px;
    }

    .places_cadr-title {
        font-size: 30px;
    }
    .places_caption {
        margin-bottom: 0;
    }
    .places_view-all {
        margin-bottom: 25px;
    }
    .tours {
        margin-bottom: 70px;
    }

    .tour__pic, .tour__info {
        grid-column: span 2;
    }

    .tour__pic {
        margin: 30px 0;
    }
    .tour__pic-mod-first {
        grid-row-start: -1 ;
    }
    .tours__tour {
        margin-bottom: 30px;
    }
    .top__card {
        grid-column: span 6;
    }
    .top__card-desc{
        margin-bottom: 15px;
    }
    .footer_logo {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer_nav {
        width: 100%;
    }
    .footer_menu {
        width: 50%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px ) {
    .header__nav {
        padding: 75px 30px;
    }

}